[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
pytest = "*"
sphinx-rtd-theme = "*"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.8"
